// -----------------------------------------------------------------------------
// This file contains Header styles
// -----------------------------------------------------------------------------
header {
  position: relative;
  z-index: 100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include responsive(medium-screens) {
    box-shadow: initial;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: rem(16) rem(0);

    .logo {
      display: flex;

      .fa-solid {
        font-size: rem(24);
        line-height: rem(32);
      }
    }
  }
}

.restaurant-page header {
  nav {
    justify-content: space-between;

    .logo {
      margin-right: calc(50% - 98px); /* 196px / 2 : Logo size*/
    }

    .back-to-home {
      display: flex;
      align-items: center;
      height: rem(32);
      width: rem(32);
      text-align: center;
      line-height: rem(32);

      i {
        font-size: rem(20);
      }
    }
  }
}
