// -----------------------------------------------------------------------------
// This file contains Hero styles
// -----------------------------------------------------------------------------
.hero {
  text-align: center;

  .wrapper {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }

  br {
    @include responsive(medium-screens) {
      display: none;
    }
  }
}
