// -----------------------------------------------------------------------------
// This file contains Hero styles
// -----------------------------------------------------------------------------
.home-page {
  .hero {
    text-align: center;

    .wrapper {
      padding-top: rem(40);
      padding-bottom: rem(60);
    }

    br {
      @include responsive(medium-screens) {
        display: none;
      }
    }
  }
}

.restaurant-page {
  .hero {
    img {
      object-fit: cover;
      height: rem(383);
      width: 100%;
    }
  }
}
