// -----------------------------------------------------------------------------
// This file contains Main styles
// -----------------------------------------------------------------------------
main {
  .wrapper {
    padding-top: rem(48);
    padding-bottom: rem(68);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include responsive(medium-screens) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: rem(24);
      }

      @include responsive(wide-screens) {
        // gap: rem(50) rem(100);
        gap: clamp(rem(24), 4vw, rem(50)) clamp(rem(24), 4vw, rem(100));
      }

      > article {
        @include responsive(medium-screens) {
          width: calc(50% - 12px);
        }

        @include responsive(wide-screens) {
          width: calc(50% - 50px);
        }
      }
    }
  }
}
