// -----------------------------------------------------------------------------
// This file contains Buttons styles
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  background: $brand-primary;
  background-image: linear-gradient(175deg, #e370da, #a55cdc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: $font-size-ms;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: rem(14) rem(20);
  border-radius: 50px;
  color: $color-white;
  font-weight: $font-weight-semibold;
  min-width: rem(186);
  transition: all 400ms ease-in-out;

  &:hover {
    filter: brightness(110%);
    // background-image: linear-gradient(
    //   175deg,
    //   lighten(#e370da, 5%),
    //   lighten(#a55cdc, 5%)
    // );
  }

  &:focus,
  &:active,
  &:active:focus {
    outline: 0;
  }
}
