// -----------------------------------------------------------------------------
// This file contains Card styles
// -----------------------------------------------------------------------------
.card {
  position: relative;
  background-color: $color-white;
  border-radius: rem(15);
  overflow: hidden;
  margin-bottom: rem(20);

  img {
    object-fit: cover;
    height: 174px;
    width: 100%;
  }

  &__highlight {
    position: absolute;
    right: 0;
    top: 0;
    padding: rem(4) rem(12);
    background-color: $brand-tertiary;
    color: #008766;
    border-radius: rem(2);
    font-weight: $font-weight-semibold;
    margin: rem(12) rem(12);
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rem(16) rem(24) rem(16) rem(12);
  }

  &__text {
    color: $color-black;
    p {
      margin: 0;
      font-weight: $font-weight-light;
      font-size: $font-size-ms;
    }
  }

  &__btn {
    button {
      border: 0;
      width: rem(24);
      height: rem(24);
      background-color: $color-body;
      padding: 0;
      margin: 0;

      &:hover {
        cursor: pointer;
      }

      &:hover .card__heart {
        background: linear-gradient(175deg, #e370da, #a55cdc);
        clip-path: path(
          "M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"
        );
        scale: 1.1;
      }
    }
  }

  .card__heart {
    width: 24px;
    height: 24px;
    background: black;
    clip-path: path(
      "M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"
    );
    transition: all 0.4s ease;
  }
}
