// -----------------------------------------------------------------------------
// This file contains Func styles
// -----------------------------------------------------------------------------
.func {
  position: relative;
  background-color: $color-light-gray;
  border-radius: rem(20);
  padding: rem(16);
  margin-bottom: rem(24);
  margin-left: rem(12);
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

  @include responsive(wide-screens) {
    padding: rem(24);
  }

  &:hover i {
    color: $brand-primary;
  }

  @include responsive(medium-screens) {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  @include responsive(wide-screens) {
    text-align: left;
    flex-direction: row;
  }

  i {
    color: $color-medium-gray;
    font-size: rem(24);
    margin-right: rem(24);
    margin-left: rem(12);
    display: inline-block;

    @include responsive(medium-screens) {
      margin-right: 0;
      margin-left: 0;
      margin-top: rem(16);
      margin-bottom: rem(12);
      display: block;
    }

    @include responsive(wide-screens) {
      margin-right: rem(24);
      margin-left: rem(12);
      margin-bottom: initial;
      margin-top: 0;
      display: inline-block;
    }
  }

  &__number {
    position: absolute;
    top: calc(50% - 12px);
    left: rem(-12);
    display: inline-block;
    font-weight: $font-weight-semibold;
    font-size: rem(14);
    padding-top: rem(2);
    text-align: center;
    border-radius: rem(50);
    background-color: $brand-primary;
    color: $color-body;
    width: rem(24);
    height: rem(24);

    @include responsive(medium-screens) {
      top: rem(-12);
      left: calc(50% - 12px);
    }

    @include responsive(wide-screens) {
      top: calc(50% - 12px);
      left: rem(-12);
    }
  }

  &__title {
    display: inline-block;
    font-weight: $font-weight-semibold;
    font-size: clamp($font-size-sm, 4vw, $font-size-ms);

    @include responsive(medium-screens) {
      margin-top: 0;
    }

    @include responsive(medium-screens) {
      margin-bottom: 0;
    }
  }
}
