// -----------------------------------------------------------------------------
// This file contains Card styles
// -----------------------------------------------------------------------------
.loader-container {
  background-color: $color-body;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: display-none-transition 2s both linear;
}

.loader {
  position: absolute;
  top: 50%;
  right: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #9356dc 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #9356dc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: turn 2s forwards linear;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
    z-index: 10000;
  }
  to {
    transform: rotate(1turn);
    z-index: -1;
  }
}

@keyframes display-none-transition {
  from {
    z-index: 1000;
  }
  to {
    z-index: -1;
  }
}
