// -----------------------------------------------------------------------------
// This file contains Bases styles
// -----------------------------------------------------------------------------
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
