// -----------------------------------------------------------------------------
// This file contains Default Themes styles
// -----------------------------------------------------------------------------
header {
  background-color: $color-header;
}

.location {
  background-color: $color-location;
}

.hero {
  background-color: $color-hero;
}

.functioning {
  background-color: $color-func;
}

main {
  background-color: $color-main;
}

footer {
  background-color: $color-footer;
}
