// -----------------------------------------------------------------------------
// This file contains Variables styles
// -----------------------------------------------------------------------------

// Media Queries
$width-medium: 640px;
$width-large: 1024px;
$width-xlarge: 1200px;
$width-xxlarge: 1440px;

// Font family
// ------------------------
$primary-font: "Roboto", sans-serif;
$secondary-font: "Shrikhand", serif;

// Font size
// ------------------------
$font-size-sm: rem(14); // Small
$font-size-ms: rem(16); // Default
$font-size-md: rem(18); // Medium
$font-size-lg: rem(24); // Large
$font-size-xl: rem(28); // Extra large

// Font weight
// ------------------------
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Line height
// ------------------------
$line-height-global: 1.5;
$line-height-heading: 1;
$line-height-text: 1.5;
$line-height-btn-default: 1;

// Brand colors
//  -----------------------------------------------------------------------------
$brand-primary: #9356dc;
$brand-secondary: #ff79da;
$brand-tertiary: #99e2d0;
$color-body: #fff;

// Gray colors
// -----------------------------------------------------------------------------
$color-white: #fff;
$color-light-gray: #f6f6f6;
$color-gray: #eaeaea;
$color-dark: #353535;
$color-black: #000;

// Section colors
//  -----------------------------------------------------------------------------
$color-header: $color-white;
$color-location: $color-gray;
$color-hero: $color-light-gray;
$color-func: $color-white;
$color-main: $color-light-gray;
$color-footer: $color-dark;
